<div class="container"> 

<h4> Nomad Signup </h4>

<form action="/signup" method="post">
    
  <div class="input-field">
    <input id="username" name="username" type="text">
    <label for="username">Username</label>
  </div>
  <div class="input-field">
    <input id="password" name="password" type="password">
    <label for="password">Password</label>
  </div>
 
        <input type="submit" value="Sign-up" class="btn">
  </button>
  </div>

  </div>
</form>