<div class="container"> 

<h4 style="color:#1a237e;">Edit Post!</h4>

<form class="" action="/posts/<%= @post.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<label for="location">location:</label>
<input type="text" name="location" value="<%= @post.location %>">
<br>
<label for="image_url">Image URL:</label>
<input type="text" name="image_url" value="<%= @post.image_url %>">
<br>
<label for="journal">Journal:</label>
<textarea name="journal" style="width:600; height:auto;"><%= @post.journal %></textarea>
<br>
<button class="btn waves-effect  indigo darken-4"  type="submit" name="action">Edit Post!</button>

</form>

</div>