<h1 style="color:#f39233 ;"> Nomad Travels </h1>



<div class="collection">
    
    <% @posts.each do |post| %>
        <a class="collection-item" href="/posts/ <%= post.id %>"><%= post.location %></a>
    <% end %>
</div>
            