<h1>Make a new post here !</h1>

<form action="/posts" method="post">
   
   Photo:<input type="text" name="image_url" value="">
   Location: <input type="text" name="Location">
   Journal: <input type="text" name="Journal">
    <input type="submit" value= "Create Post" >
</form>