<h1>Welcome Nomad</h1>

</div>

<a href="/login">Log In</a> OR <a href="/signup">Sign Up</a>

<style>
body {
  background-image: url('https://globetrender.com/wp-content/uploads/2016/05/Digital-nomad-equipment.jpg'); background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
<body>
